---
title: Чат
stylesheets:
- ../sass/chat/chat.scss
scripts:
- ../modules/chat/chat.js
---

{{#extend "baseLayout"}}
    {{#content "main"}}
        <div class="chat-page">
            <div class="chat">
                <div class="chat__wrap-main-box">
                    <div class="chat__left-box">
                        <div class="chat__list-chats">
                            <div class="chat-info">
                                <div class="chat-info__box-user-img">
                                    <img src="https://image.freepik.com/free-photo/thoughtful-beautiful-teenage-girl-holds-mobile-phone-sends-text-messages-thinks-what-answer-give-reads-comments-her-post-social-networks-dressed-winter-clothes-isolated-blue-wall_273609-43784.jpg"
                                         class="chat-info__user-img">
                                </div>
                                <div class="chat-info__user-name">Анастасия</div>
                            </div>
                        </div>
                    </div>
                    <div class="chat__right-box">
                        <div class="chat__body">
                            <div class="chat__message">
                                <div class="message__box-img-user">
                                    <img src="https://image.freepik.com/free-photo/man-stands-with-fingers-crossed-asks-something-bad-catty-expression-grimace-wish-someone-failure_295783-15858.jpg"
                                         class="message__img-user">
                                </div>
                                <div class="message__content">
                                    <div class="message__user-date">
                                        <div class="message__user-name">Гарри</div>
                                    </div>
                                    <div class="chat__message-text">
                                        Питер Квилл родом с Земли, был воспитан матерью, которая умерла, когда он был
                                        еще
                                        ребенком.
                                        Личность отца неизвестна. Маленький Питер был похищен бандой космических пиратов
                                        под предводительством Йонду Удонта. Питер вырос среди них и сам стал бандитом,
                                        взяв себе псевдоним Звёздный Лорд.
                                    </div>
                                </div>
                            </div>
                            <div class="chat__message">
                                <div class="message__box-img-user">
                                    <img src="https://image.freepik.com/free-photo/happy-bearded-young-man-looks-with-joyful-expression-has-friendly-smile-wears-yellow-sweater-red-hat_295783-1388.jpg"
                                         class="message__img-user">
                                </div>
                                <div class="message__content">
                                    <div class="message__user-date">
                                        <div class="message__user-name">Ракета</div>
                                    </div>
                                    <div class="chat__message-text">
                                        Ещё ребёнком Питер Паркер лишился родителей, а тётя Мэй и дядя Бен вырастили его
                                        как родного сына. Мальчик хорошо учился и добился больших успехов в естественных
                                        науках,
                                        из-за чего одноклассники не воспринимали его всерьёз, считая тихоней и зубрилой.
                                        На
                                        одной
                                        из научных выставок Питера укусил паук, заряженный мощной дозой радиации. Укус
                                        повлиял
                                        на
                                        генетическую структуру организма Питера, наделив парня суперсилой и
                                        уникальными способностями.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat__footer">
                            <div class="chat__control-panel">
                                <div class="chat__box-input">
                                    <textarea class="chat__input-message" placeholder="Напишите сообщение"
                                          name="message"></textarea>
                                </div>
                                <div class="chat__box-button-send">
                                    <button class="button chat__button-send">
                                        <i class="icon-telegram"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
